In [1]:
import pandas as pd
import datetime

# Read data from csv file
df = pd.read_csv("Data/Final_Upwork_Dataset.csv")

In [21]:
df.shape

(63950, 41)

In [22]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
Job Title,Power bi specialist freelance,Case Study (on-demand delivery startup),"File Maker Pro Reports, Charts, Query and Ongo...",Implementation of EleutherAI/gpt-neox-20b,BI and Data Engineer for Upwork Finance System...,Computer vision / machine learning: synthetic ...,Expert in Data Analytics,Data Analytics Expert for Educational Exercise,Azure Data Factory specialist,Implementation of algorithm for multilingual data
Job_URL,https://www.upwork.com/jobs/Power-specialist-f...,https://www.upwork.com/jobs/Case-Study-demand-...,https://www.upwork.com/jobs/File-Maker-Pro-Rep...,https://www.upwork.com/jobs/Implementation-Ele...,https://www.upwork.com/jobs/and-span-Data-span...,https://www.upwork.com/jobs/Computer-vision-ma...,https://www.upwork.com/jobs/Expert-span-Data-s...,https://www.upwork.com/jobs/span-Data-span-Ana...,https://www.upwork.com/jobs/Azure-span-Data-sp...,https://www.upwork.com/jobs/Implementation-alg...
EX_level_demand,Expert,Intermediate,Intermediate,Expert,Expert,Expert,Expert,Intermediate,Intermediate,Expert
Time_Limitation,NaN,NaN,"3 to 6 months, Less than 30 hrs/week","3 to 6 months, Less than 30 hrs/week","More than 6 months, 30+ hrs/week","1 to 3 months, Less than 30 hrs/week","More than 6 months, Hours to be determined",NaN,"More than 6 months, 30+ hrs/week","Less than 1 month, Less than 30 hrs/week"
Search_Keyword,Data_science,Data_science,Data_science,Data_science,Data_science,Data_science,Data_science,Data_science,Data_science,Data_science
Posted_from,5 minutes ago,5 minutes ago,9 minutes ago,12 minutes ago,14 minutes ago,15 minutes ago,18 minutes ago,21 minutes ago,22 minutes ago,24 minutes ago
Description,Already data pooled and designed. Need to refi...,"Hi,\n\nWould you be able to help me do a case-...",NITIAL PROJECT\n\nSet up Monthly Report mimick...,"As a first step, you will implement the instal...",The Upwork Finance Systems team is looking for...,Our company is working on a government proposa...,Mission : Ensure smooth transition of Analytic...,Looking for someone to help me solve some prob...,1. Good work experience in Azure Data Factory ...,Looking for freelancer to implement following ...
Category1_URL_search,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...
Category_1,Data Analysis,Google Data Studio,Report Writing,Machine Learning Model,Data Analysis,Generative Adversarial Network,Data Visualization,Data Analytics,SQL,Data Science
highlight,data,Google Data Studio,NaN,NaN,Data,data,Data,Data,Data,data
Category2_URL_search,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...
Category_2,Data Visualization,SQL,Custom Graphics,Machine Learning,Looker,Machine Learning,Data Analysis,Big Data,Microsoft Azure,Algorithm Development
Category3_URL_search,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...
Category_3,Microsoft Power BI,Tableau,NaN,Python,SQL,Computer Vision,Microsoft Power BI,Data Visualization,ETL,Python
Category4_URL_search,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...
Category_4,SQL,Microsoft Excel,NaN,NaN,Snowflake,Neural Network,Microsoft Excel,Data Analysis,Azure DevOps,Machine Learning
Category5_URL_search,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN
Category_5,NaN,Microsoft PowerPoint,NaN,NaN,Accounting,NaN,NaN,Dashboard,Microsoft Visual Studio,NaN
Category6_URL_search,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN
Category_6,NaN,Python,NaN,NaN,Python,NaN,NaN,Business Intelligence,NaN,NaN
Category7_URL_search,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN,NaN,NaN,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN
Category_7,NaN,Analytics,NaN,NaN,NaN,NaN,NaN,Hypothesis Testing,NaN,NaN
Category8_URL_search,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN,NaN,NaN,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN
Category_8,NaN,Visualization,NaN,NaN,NaN,NaN,NaN,Microsoft Excel,NaN,NaN
Category9_URL_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.upwork.com/nx/jobs/search/?ontolog...,NaN,NaN
Category_9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Analytics,NaN,NaN
Applicants_Num,Less than 5,Less than 5,Less than 5,Less than 5,Less than 5,Less than 5,Less than 5,Less than 5,Less than 5,Less than 5
Payment_Situation,Payment unverified,Payment verified,Payment verified,Payment verified,Payment verified,Payment verified,Payment verified,Payment verified,Payment verified,Payment verified
Enterprise_Client,NaN,NaN,NaN,NaN,Enterprise,NaN,Enterprise,NaN,NaN,NaN
Freelancers_Num,1,1,1,1,1,1,1,1,1,1
Spent($),0.0,100.0,200.0,200000.0,NaN,100000.0,70000000.0,600.0,0.0,20000.0
Client_Country,United States,Canada,United States,Canada,United States,United States,United States,Australia,Poland,Pakistan
Connects_Num,6.0,4.0,6.0,6.0,6.0,6.0,6.0,2.0,6.0,2.0
New_Connects_Num,12.0,8.0,12.0,12.0,12.0,12.0,12.0,4.0,12.0,4.0
Rating,NaN,5.0,5.0,4.935536,4.942242,5.0,4.965969,4.934678,NaN,4.688143
Feedback_Num,0.0,1.0,1.0,26.0,12512.0,11.0,10906.0,6.0,0.0,68.0
Payment_type,Fixed-price,Fixed-price,Hourly,Hourly,Hourly,Hourly,Hourly,Fixed-price,Hourly,Hourly
Job_Cost,"$2,500",$200,NaN,NaN,NaN,NaN,NaN,$10,NaN,NaN
Hourly_Rate,NaN,NaN,$40.00,$35.00-$100.00,NaN,$75.00-$175.00,NaN,NaN,$25.00-$35.00,NaN
Start_rate,0,0,40,$35.00,0,$75.00,0,0,$25.00,0
End_rate,NaN,NaN,NaN,$100.00,NaN,$175.00,NaN,NaN,$35.00,NaN

In [23]:
df.describe()

,Freelancers_Num,Spent($),Connects_Num,New_Connects_Num,Rating,Feedback_Num
count,63950.000000,6.230400e+04,63949.000000,63949.000000,30593.000000,63949.000000
mean,1.137654,2.999789e+04,4.506701,9.013401,4.823875,20.997029
std,2.391479,3.926514e+05,2.097518,4.195035,0.418398,180.450288
min,0.000000,0.000000e+00,1.000000,2.000000,1.000000,0.000000
25%,1.000000,0.000000e+00,2.000000,4.000000,4.842153,0.000000
50%,1.000000,8.000000e+01,4.000000,8.000000,4.975717,0.000000
75%,1.000000,4.000000e+03,6.000000,12.000000,5.000000,10.000000
max,99.000000,7.000000e+07,8.000000,16.000000,5.000000,12541.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63950 entries, 0 to 63949
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Job Title             63949 non-null  object
 1   Job_URL               63949 non-null  object
 2   EX_level_demand       56935 non-null  object
 3   Time_Limitation       23034 non-null  object
 4   Search_Keyword        63949 non-null  object
 5   Posted_from           63913 non-null  object
 6   Description           63948 non-null  object
 7   Category1_URL_search  63505 non-null  object
 8   Category_1            63505 non-null  object
 9   highlight             50131 non-null  object
 10  Category2_URL_search  59889 non-null  object
 11  Category_2            59889 non-null  object
 12  Category3_URL_search  54997 non-null  object
 13  Category_3            54997 non-null  object
 14  Category4_URL_search  47543 non-null  object
 15  Category_4            47543 non-null  object
 16  Category5_URL_search  39578 non-null  object
 17  Category_5            39578 non-null  object
 18  Category6_URL_search  31307 non-null  object
 19  Category_6            31307 non-null  object
 20  Category7_URL_search  25192 non-null  object
 21  Category_7            25192 non-null  object
 22  Category8_URL_search  20436 non-null  object
 23  Category_8            20436 non-null  object
 24  Category9_URL_search  16481 non-null  object
 25  Category_9            16481 non-null  object
 26  Applicants_Num        63949 non-null  object
 27  Payment_Situation     63949 non-null  object
 28  Enterprise_Client     53 non-null     object
 29  Freelancers_Num       63950 non-null  int64
 30  Spent($)              62304 non-null  float64
 31  Client_Country        63825 non-null  object
 32  Connects_Num          63949 non-null  float64
 33  New_Connects_Num      63949 non-null  float64
 34  Rating                30593 non-null  float64
 35  Feedback_Num          63949 non-null  float64
 36  Payment_type          63949 non-null  object
 37  Job_Cost              20113 non-null  object
 38  Hourly_Rate           26570 non-null  object
 39  Start_rate            63949 non-null  object
 40  End_rate              25963 non-null  object
dtypes: float64(5), int64(1), object(35)
memory usage: 20.0+ MB

In [ ]:
# Show number with format (2 decimal)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df.describe()

,Freelancers_Num,Spent($),Connects_Num,New_Connects_Num,Rating,Feedback_Num
count,63950.00,62304.00,63949.00,63949.00,30593.00,63949.00
mean,1.14,29997.89,4.51,9.01,4.82,21.00
std,2.39,392651.41,2.10,4.20,0.42,180.45
min,0.00,0.00,1.00,2.00,1.00,0.00
25%,1.00,0.00,2.00,4.00,4.84,0.00
50%,1.00,80.00,4.00,8.00,4.98,0.00
75%,1.00,4000.00,6.00,12.00,5.00,10.00
max,99.00,70000000.00,8.00,16.00,5.00,12541.00

In [ ]:
# Count NULL values
df.isnull().sum()

Job Title                   1
Job_URL                     1
EX_level_demand          7015
Time_Limitation         40916
Search_Keyword              1
Posted_from                37
Description                 2
Category1_URL_search      445
Category_1                445
highlight               13819
Category2_URL_search     4061
Category_2               4061
Category3_URL_search     8953
Category_3               8953
Category4_URL_search    16407
Category_4              16407
Category5_URL_search    24372
Category_5              24372
Category6_URL_search    32643
Category_6              32643
Category7_URL_search    38758
Category_7              38758
Category8_URL_search    43514
Category_8              43514
Category9_URL_search    47469
Category_9              47469
Applicants_Num              1
Payment_Situation           1
Enterprise_Client       63897
Freelancers_Num             0
Spent($)                 1646
Client_Country            125
Connects_Num                1
New_Connects_Num            1
Rating                  33357
Feedback_Num                1
Payment_type                1
Job_Cost                43837
Hourly_Rate             37380
Start_rate                  1
End_rate                37987
dtype: int64

In [ ]:
# Check NULL Job Title
df_1 = df[df["Job Title"].isnull()]
df_1

,Job Title,Job_URL,EX_level_demand,Time_Limitation,Search_Keyword,Posted_from,Description,Category1_URL_search,Category_1,highlight,...,Client_Country,Connects_Num,New_Connects_Num,Rating,Feedback_Num,Payment_type,Job_Cost,Hourly_Rate,Start_rate,End_rate
63949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Check NULL Ex_level_demand
df_2 = df[df["EX_level_demand"].isnull()]
df_3 = df

,Job Title,Job_URL,EX_level_demand,Time_Limitation,Search_Keyword,Posted_from,Description,Category1_URL_search,Category_1,highlight,...,Client_Country,Connects_Num,New_Connects_Num,Rating,Feedback_Num,Payment_type,Job_Cost,Hourly_Rate,Start_rate,End_rate
137,Ads Quality Rater - Estonian (Estonia),https://www.upwork.com/jobs/Ads-Quality-Rater-...,NaN,"More than 6 months, Less than 30 hrs/week",Data_science,NaN,MAIN PURPOSE OF THE ROLE\n\nAre you a search e...,https://www.upwork.com/nx/jobs/search/?ontolog...,Estonian,NaN,...,United States,6.00,12.00,4.55,1.00,Hourly,NaN,NaN,0,NaN
11538,Backend Software Engineer - 24189,https://www.upwork.com/jobs/Backend-Software-E...,NaN,"1 to 3 months, not_sure",Developer,NaN,Crowdbotics: We build apps fast.\n\nWe are loo...,NaN,NaN,development,...,NaN,6.00,12.00,NaN,0.00,Hourly,NaN,NaN,0,NaN
11892,Backend Software Engineer - 36062,https://www.upwork.com/jobs/Backend-Software-E...,NaN,"Less than 1 month, not_sure",Developer,NaN,Crowdbotics: We build apps fast.\n\nWe are loo...,NaN,NaN,development,...,NaN,6.00,12.00,NaN,0.00,Hourly,NaN,NaN,0,NaN
30166,Some Edits on website,https://www.upwork.com/jobs/Some-Edits-website...,NaN,NaN,Developer,11 hours ago,Fix Auto-Refresh on product page ( as it's don...,https://www.upwork.com/nx/jobs/search/?ontolog...,Web Development,Web Development,...,Egypt,4.00,8.00,4.45,3.00,Fixed-price,$15,NaN,0,NaN
30167,WEB3/Crypto/NFT Specialist,https://www.upwork.com/jobs/WEB3-Crypto-NFT-Sp...,NaN,NaN,Developer,11 hours ago,Job Summary:\nWe are looking for a talented an...,https://www.upwork.com/nx/jobs/search/?ontolog...,Cryptocurrency,NaN,...,Turkey,8.00,16.00,NaN,0.00,Hourly,NaN,$70-$120,$70,$120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37173,Wordpress site maintenance,https://www.upwork.com/jobs/Wordpress-site-mai...,NaN,NaN,Developer,1 day ago,Looking for someone to work with us on a long ...,https://www.upwork.com/nx/jobs/search/?ontolog...,Web Development,Web Development,...,NaN,6.00,12.00,NaN,0.00,Hourly,NaN,$15.00-$30.00,$15.00,$30.00
37174,Shopify Store designing,https://www.upwork.com/jobs/Shopify-Store-desi...,NaN,NaN,Developer,1 day ago,I am looking For Shopify EXPERT to design my S...,https://www.upwork.com/nx/jobs/search/?ontolog...,Shopify,NaN,...,Pakistan,2.00,4.00,5.00,11.00,Hourly,NaN,NaN,0,NaN
37175,Frontend Software Engineer - 37030,https://www.upwork.com/jobs/Frontend-Software-...,NaN,"1 to 3 months, not_sure",Developer,NaN,Crowdbotics: We build apps fast.\n\nWe are loo...,NaN,NaN,development,...,NaN,6.00,12.00,NaN,0.00,Hourly,NaN,NaN,0,NaN
46098,BEESO1 | B2B Content Specialist Needed for Lin...,https://www.upwork.com/jobs/BEESO1-B2B-Content...,NaN,"3 to 6 months, 30+ hrs/week",Marketing,NaN,An enterprise client in the tech/SaaS industry...,https://www.upwork.com/nx/jobs/search/?ontolog...,LinkedIn Marketing,marketing,...,United States,4.00,8.00,5.00,5.00,Hourly,NaN,NaN,0,NaN
63949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
uni_ex_level = df["EX_level_demand"].value_counts(dropna=False)
uni_ex_level

Intermediate    30391
Expert          20972
NaN              7015
Entry level      5572
Name: EX_level_demand, dtype: int64

In [ ]:
# Check values of Time Limitation
uni_time_limitation = df["Time_Limitation"].value_counts(dropna=False)
uni_time_limitation

NaN                                           40916
Less than 1 month, Less than 30 hrs/week       8033
1 to 3 months, Less than 30 hrs/week           4773
More than 6 months, 30+ hrs/week               2920
3 to 6 months, Less than 30 hrs/week           2273
More than 6 months, Less than 30 hrs/week      1845
3 to 6 months, 30+ hrs/week                     754
1 to 3 months, 30+ hrs/week                     650
1 to 3 months, Hours to be determined           307
Less than 1 month, not_sure                     300
1 to 3 months, not_sure                         295
More than 6 months, Hours to be determined      256
Less than 1 month, Hours to be determined       209
3 to 6 months, Hours to be determined           148
3 to 6 months, not_sure                         125
More than 6 months, not_sure                    104
Less than 1 month, 30+ hrs/week                  42
Name: Time_Limitation, dtype: int64

In [ ]:
# Check Search Keyword values
uni_search_keyword = df["Search_Keyword"].value_counts(dropna=False)
uni_search_keyword

Developer       29220
Marketing       24745
3D               4995
Data_science     4989
NaN                 1
Name: Search_Keyword, dtype: int64

In [51]:
df["Posted_from"]

0         5 minutes ago
1         5 minutes ago
2         9 minutes ago
3        12 minutes ago
4        14 minutes ago
              ...
63945        3 days ago
63946        3 days ago
63947        3 days ago
63948        3 days ago
63949               NaN
Name: Posted_from, Length: 63950, dtype: object

In [ ]:
# Check NULL Posted_from
df["Posted_from"].isnull().sum()

37

In [ ]:
# Check values of all Category columns (mean: Skills)
df[{"Category_1","Category_2","Category_3","Category_4","Category_5","Category_6","Category_7","Category_8","Category_9"}]

/var/folders/rv/l8dqknx10t1gwddzj40q_cnc0000gn/T/ipykernel_43531/3566403908.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[{"Category_1","Category_2","Category_3","Category_4","Category_5","Category_6","Category_7","Category_8","Category_9"}]

,Category_6,Category_3,Category_2,Category_9,Category_7,Category_1,Category_8,Category_4,Category_5
0,NaN,Microsoft Power BI,Data Visualization,NaN,NaN,Data Analysis,NaN,SQL,NaN
1,Python,Tableau,SQL,NaN,Analytics,Google Data Studio,Visualization,Microsoft Excel,Microsoft PowerPoint
2,NaN,NaN,Custom Graphics,NaN,NaN,Report Writing,NaN,NaN,NaN
3,NaN,Python,Machine Learning,NaN,NaN,Machine Learning Model,NaN,NaN,NaN
4,Python,SQL,Looker,NaN,NaN,Data Analysis,NaN,Snowflake,Accounting
...,...,...,...,...,...,...,...,...,...
63945,NaN,Communications,Outbound Sales,NaN,NaN,Cold Calling,NaN,Sales,Telemarketing
63946,NaN,Ad Copy,Copywriting,NaN,NaN,Email Copywriting,NaN,NaN,NaN
63947,NaN,TikTok,TikTok Marketing,NaN,NaN,Social Media Marketing,NaN,Social Media Management,NaN
63948,NaN,TikTok Ad,Video Editing,NaN,NaN,Social Media Marketing,NaN,NaN,NaN
63949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df["Category_1"].unique()

array(['Data Analysis', 'Google Data Studio', 'Report Writing', ...,
       'Advertising Strategy', 'Leadership Skills', 'DeepCrawl'],
      dtype=object)

In [ ]:
# Check values of Enterprise_Client
df["Enterprise_Client"].value_counts(dropna=False)

NaN           63897
Enterprise       53
Name: Enterprise_Client, dtype: int64

In [65]:
df["Spent($)"].value_counts(dropna=False)

0.00           28869
10000.00        3283
1000.00         3175
2000.00         2045
20000.00        1704
               ...
3.00               3
1.00               2
8000000.00         2
70000000.00        1
6000000.00         1
Name: Spent($), Length: 65, dtype: int64

In [67]:
df["Spent($)"].isnull().sum()

1646

In [68]:
df["Client_Country"].value_counts(dropna=False)

United States            26699
India                     5734
United Kingdom            4353
Canada                    3270
Australia                 2783
                         ...
Saint Kitts and Nevis        1
Grenada                      1
Cook Islands                 1
Sierra Leone                 1
Niger                        1
Name: Client_Country, Length: 188, dtype: int64

In [72]:
df["Client_Country"].unique()

array(['United States', 'Canada', 'Australia', 'Poland', 'Pakistan',
       'Bolivia', 'Germany', 'Israel', 'India', 'Turkey',
       'United Kingdom', 'Finland', 'France', 'Nigeria', 'Switzerland',
       'Netherlands', 'China', 'Ecuador', 'Brazil', 'Hong Kong', 'Italy',
       'Portugal', 'Romania', 'Nepal', 'United Arab Emirates', 'Ukraine',
       'Bangladesh', 'Argentina', 'Belgium', 'Egypt', 'South Africa',
       'Bahrain', 'Spain', 'Indonesia', 'Kenya', 'Hungary', 'Singapore',
       'New Zealand', 'Seychelles', 'Thailand', 'Lebanon', nan, 'Taiwan',
       'Philippines', 'Malaysia', 'Mexico', 'Sweden', 'Ireland',
       'Saudi Arabia', 'Puerto Rico', 'Latvia', 'Czech Republic',
       'Georgia', 'Denmark', 'South Korea', 'Japan', 'Colombia', 'Cyprus',
       'Qatar', 'Slovenia', 'Guyana', 'Iceland', 'Estonia', 'Tanzania',
       'Croatia', 'Guatemala', 'Bulgaria', 'Tunisia', 'Kuwait', 'Jordan',
       'Trinidad and Tobago', 'Macedonia', 'Albania', 'Norway',
       'San Marino', 'Oman', 'Greece', 'Kazakhstan', 'Venezuela',
       'Uzbekistan', 'Peru', 'Austria', 'Ethiopia', 'Sri Lanka',
       'Vietnam', 'Serbia', 'Chile', 'Luxembourg', 'Malta', 'Lithuania',
       'Panama', 'Morocco', 'Yemen', 'Azerbaijan', 'Armenia',
       'Dominican Republic', 'Uruguay', 'American Samoa', 'Togo',
       'Moldova', 'Maldives', 'Jamaica', 'Liechtenstein', 'Slovakia',
       'Ghana', 'Costa Rica', 'Congo, the Democratic Republic of the',
       'Honduras', 'Belarus', 'Cayman Islands', 'Haiti', 'Guam',
       'Aland Islands', 'Kyrgyzstan', 'Zimbabwe', 'Algeria', 'Grenada',
       'Uganda', 'Netherlands Antilles', 'New Caledonia',
       'Bosnia and Herzegovina', 'Namibia', 'Rwanda', 'Russia',
       'Mauritius', 'Monaco', 'El Salvador', 'Macao', 'Bahamas',
       'Mongolia', 'Aruba', 'Cameroon', 'Palestinian Territories',
       'Cambodia', 'Botswana', 'Isle of Man', 'Mozambique',
       'Burkina Faso', 'Cook Islands', 'Angola', 'Gibraltar',
       "Cote d'Ivoire", 'Bermuda', 'Micronesia, Federated States of',
       'Saint Vincent and the Grenadines', 'Somalia', 'Barbados',
       'Guinea', 'Saint Martin (French part)', 'Suriname', 'Turkmenistan',
       'Gambia', 'Curacao', 'Swaziland', 'Jersey', 'Guadeloupe',
       'United States Virgin Islands', 'Mali', 'Saint Lucia',
       'Sierra Leone', 'Andorra', 'British Virgin Islands', 'Benin',
       'Montenegro', 'Paraguay', 'Nicaragua', 'Senegal',
       'United States Minor Outlying Islands', 'Saint Kitts and Nevis',
       'Anguilla', 'Belize', 'Greenland', 'Myanmar',
       'Antigua and Barbuda', 'Tajikistan', 'Papua New Guinea', 'Zambia',
       'British Indian Ocean Territory', 'Samoa',
       'Northern Mariana Islands', 'Sint Maarten (Dutch part)', 'Laos',
       'Guernsey', 'Brunei Darussalam', 'Turks and Caicos Islands',
       'Malawi', 'Fiji', 'Niger'], dtype=object)

In [ ]:
# Check NULL Country
df["Client_Country"].isnull().sum()

125

In [ ]:
# Count NULL Connects_Num
df["Connects_Num"].isnull().sum()

1

In [ ]:
# Check NULL Rating
df["Rating"].isnull().sum()

33357

In [76]:
df["Feedback_Num"].value_counts(dropna=False)

0.00       33081
1.00        4109
2.00        2543
3.00        1856
4.00        1451
           ...
810.00         1
437.00         1
245.00         1
1770.00        1
NaN            1
Name: Feedback_Num, Length: 548, dtype: int64

In [77]:
df["Payment_type"].value_counts(dropna=False)

Hourly         40333
Fixed-price    23616
NaN                1
Name: Payment_type, dtype: int64

In [ ]:
# Check records with Payment_type = 'Fixed-price' but Job_Cose is null nd Hourly_Rate is not null
df.query("Payment_type == 'Fixed-price' & Job_Cost.isnull() & Hourly_Rate.notnull()")

Empty DataFrame
Columns: [Job Title, Job_URL, EX_level_demand, Time_Limitation, Search_Keyword, Posted_from, Description, Category1_URL_search, Category_1, highlight, Category2_URL_search, Category_2, Category3_URL_search, Category_3, Category4_URL_search, Category_4, Category5_URL_search, Category_5, Category6_URL_search, Category_6, Category7_URL_search, Category_7, Category8_URL_search, Category_8, Category9_URL_search, Category_9, Applicants_Num, Payment_Situation, Enterprise_Client, Freelancers_Num, Spent($), Client_Country, Connects_Num, New_Connects_Num, Rating, Feedback_Num, Payment_type, Job_Cost, Hourly_Rate, Start_rate, End_rate]
Index: []

[0 rows x 41 columns]

In [ ]:
# Check whether there is Hourly Payment but Job_Cost is not null
df.query("Payment_type == 'Hourly' & Job_Cost.notnull()")

Empty DataFrame
Columns: [Job Title, Job_URL, EX_level_demand, Time_Limitation, Search_Keyword, Posted_from, Description, Category1_URL_search, Category_1, highlight, Category2_URL_search, Category_2, Category3_URL_search, Category_3, Category4_URL_search, Category_4, Category5_URL_search, Category_5, Category6_URL_search, Category_6, Category7_URL_search, Category_7, Category8_URL_search, Category_8, Category9_URL_search, Category_9, Applicants_Num, Payment_Situation, Enterprise_Client, Freelancers_Num, Spent($), Client_Country, Connects_Num, New_Connects_Num, Rating, Feedback_Num, Payment_type, Job_Cost, Hourly_Rate, Start_rate, End_rate]
Index: []

[0 rows x 41 columns]

In [ ]:
# Check whether there is Hourly Payment but Hourly Rate is empty
df.query("Payment_type == 'Hourly' & Hourly_Rate.isnull()")

,Job Title,Job_URL,EX_level_demand,Time_Limitation,Search_Keyword,Posted_from,Description,Category1_URL_search,Category_1,highlight,...,Client_Country,Connects_Num,New_Connects_Num,Rating,Feedback_Num,Payment_type,Job_Cost,Hourly_Rate,Start_rate,End_rate
4,BI and Data Engineer for Upwork Finance System...,https://www.upwork.com/jobs/and-span-Data-span...,Expert,"More than 6 months, 30+ hrs/week",Data_science,14 minutes ago,The Upwork Finance Systems team is looking for...,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Analysis,Data,...,United States,6.00,12.00,4.94,12512.00,Hourly,NaN,NaN,0,NaN
6,Expert in Data Analytics,https://www.upwork.com/jobs/Expert-span-Data-s...,Expert,"More than 6 months, Hours to be determined",Data_science,18 minutes ago,Mission : Ensure smooth transition of Analytic...,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Visualization,Data,...,United States,6.00,12.00,4.97,10906.00,Hourly,NaN,NaN,0,NaN
9,Implementation of algorithm for multilingual data,https://www.upwork.com/jobs/Implementation-alg...,Expert,"Less than 1 month, Less than 30 hrs/week",Data_science,24 minutes ago,Looking for freelancer to implement following ...,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Science,data,...,Pakistan,2.00,4.00,4.69,68.00,Hourly,NaN,NaN,0,NaN
28,Product Image Scraping,https://www.upwork.com/jobs/Product-Image-Scra...,Entry level,"Less than 1 month, Hours to be determined",Data_science,1 hour ago,We need images scraped from multiple online si...,https://www.upwork.com/nx/jobs/search/?ontolog...,Data Entry,Data Entry,...,Finland,1.00,2.00,NaN,0.00,Hourly,NaN,NaN,0,NaN
33,AI Image Processing App,https://www.upwork.com/jobs/Image-Processing-A...,Expert,"3 to 6 months, Less than 30 hrs/week",Data_science,2 hours ago,I want an AI and Image Processing App(iOS & An...,https://www.upwork.com/nx/jobs/search/?ontolog...,Machine Learning,NaN,...,India,4.00,8.00,NaN,0.00,Hourly,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63942,Email template creator,https://www.upwork.com/jobs/Email-template-cre...,Intermediate,"Less than 1 month, Less than 30 hrs/week",Marketing,3 days ago,Ecommerce email marketing template job post. \...,https://www.upwork.com/nx/jobs/search/?ontolog...,Content Marketing,marketing,...,Estonia,1.00,2.00,NaN,0.00,Hourly,NaN,NaN,0,NaN
63944,Email Marketing Expert,https://www.upwork.com/jobs/Email-span-Marketi...,Expert,"1 to 3 months, Less than 30 hrs/week",Marketing,3 days ago,Set up email accounts and an email system (gma...,https://www.upwork.com/nx/jobs/search/?ontolog...,Email Marketing,Marketing,...,Canada,6.00,12.00,5.00,1.00,Hourly,NaN,NaN,0,NaN
63945,(Commission Based) Cold Caller Needed,https://www.upwork.com/jobs/Commission-Based-C...,Expert,"More than 6 months, 30+ hrs/week",Marketing,3 days ago,About the role:\n\nWe are seeking a motivated ...,https://www.upwork.com/nx/jobs/search/?ontolog...,Cold Calling,Marketing,...,Singapore,4.00,8.00,4.76,29.00,Hourly,NaN,NaN,0,NaN
63946,High-Performance *Ecom Email* Copywriter Suppl...,https://www.upwork.com/jobs/High-Performance-E...,Expert,"More than 6 months, 30+ hrs/week",Marketing,3 days ago,We are seeking a talented and motivated Copywr...,https://www.upwork.com/nx/jobs/search/?ontolog...,Email Copywriting,Marketing,...,United States,6.00,12.00,4.67,42.00,Hourly,NaN,NaN,0,NaN
63947,TikTok profile managment Hungary,https://www.upwork.com/jobs/TikTok-profile-man...,Entry level,"1 to 3 months, Less than 30 hrs/week",Marketing,3 days ago,We are searching for someone who could help us...,https://www.upwork.com/nx/jobs/search/?ontolog...,Social Media Marketing,Social Media Marketing,...,Slovenia,6.00,12.00,NaN,0.00,Hourly,NaN,NaN,0,NaN

In [ ]:
# Count Hourly Payemtn but Hourly Rate is empty or 0
df.query("Payment_type == 'Hourly' & (Hourly_Rate.isnull() | Hourly_Rate == '0')").shape

(13763, 41)

------------------------------CLEANING DATA---------------------------------------

###-------by Python
1. Remove unnecessary columns
2. Remove Job_Title is NULL
3. Remove Posted_from is NULL
4. Remove Client_Country is NULL
5. Update Spent is NULL --> 0
6. Split Time_Limitation into 2 columns: Time_Limitation and Hrs_Per_Week
7. Convert Posted_from to Short Date data type as a now column (Posted_Date), then, delete Posted_from
8. Update Feedback_Num that is null to 0
9. Remove "$" sign in Hourly_Rate, Job_Cost
10. Convert Job_Cost, Start_Rate, End_Rate to Number data type

###-------by SQL
11. Categorize jobs
12. Update EX_level_demand is NULL --> Intermediate, then categorizing Experience Level list
13. Standardize Country list
14. Categorize Skill list
15. Update Start_Rate and End_Rate with the same value if Hourly_Rate is just one value
16. Payment_Type = “Hourly” but Hour_Rate is empty --> update to the average hourly rate of job category
17. Payment_Type = “Fixed-price” but Job_Cost is empty --> update to the average of job category
18. The rating of clients:
    “Rating” is true if “Feedback_Num” is more than 10.
19. Update EnterpriseClient is NULL --> "Small Business & Individual"
21. Create the additional columns: JobFromHighRating, RatingGroup, Client, NumberOfApplicants

In [127]:
#1. Remove unnecessary columns
new_df = df.drop({"Job_URL", "Category1_URL_search", "Category2_URL_search", "Category3_URL_search", "Category4_URL_search", "Category5_URL_search", "Category6_URL_search", "Category7_URL_search", "Category8_URL_search", "Category9_URL_search"},axis='columns')

In [ ]:
#change "Job Title" to "Job_Title"
new_df.rename(columns={"Job Title": "Job_Title"}, inplace=True)

#Change "Spent($)" to "Spent"
new_df.rename(columns={"Spent($)":"Spent"}, inplace=True)

In [ ]:
#2. Remove Job_Title is NULL
new_df.dropna(subset=["Job_Title"], inplace=True)

#3. Remove Posted_from is NULL
new_df.dropna(subset=["Posted_from"], inplace=True)

#4. Remove Client_Country is NULL
new_df.dropna(subset=["Client_Country"], inplace=True)

#5. Update Spent is NULL --> 0
values = {"EX_level_demand":"Intermediate", "Spent":0}
new_df2 = new_df.fillna(value=values)
new_df2["EX_level_demand"].value_counts(dropna=False)
new_df2["Spent"].value_counts(dropna=False)

In [ ]:
#6. Split Time_Limitation into 2 columns: Time_Limitation and Hrs_Per_Week
new_df2[["Time_Limitation2","Hrs_Per_Week"]] = new_df2["Time_Limitation"].str.split(', ', expand=True)
# Drop "Time_Limitation" column
# Rename "Time_Limitation2" --> "Time_Limitation"
new_df2 = new_df2.drop({"Time_Limitation"}, axis=1)
new_df2.rename(columns={"Time_Limitation2":"Time_Limitation"}, inplace=True)

In [ ]:
#7. Convert Posted_from to Short Date data type.
#----split Posted_from into 3 columns ("Posted_from_num", "Posted_from_unit", "Ago"), the purpose is to calculate the number of days.
#----Delete "Ago" column
#----Convert Posted_from_unit to number
#----Create and Calculate Posted_Date
new_df2[["Posted_from_num","Posted_from_unit", "Ago"]] = new_df2["Posted_from"].str.split(' ', expand=True)
new_df2 = new_df2.drop(["Ago"], axis=1)
new_df2 = new_df2.replace({"Posted_from_unit":{'day':1, 'days':1, 'hour':0, 'hours':0, 'minute':0, 'minutes':0, 'second':0, 'seconds':0}})
new_df2 = new_df2.astype({"Posted_from_num": int, "Posted_from_unit": int})
init_date = datetime.date(2024, 1, 2)
for i in new_df2.index:
    p_days = new_df2.loc[i, "Posted_from_num"] * new_df2.loc[i, "Posted_from_unit"]
    p_date = init_date + pd.Timedelta(days=p_days)
    new_df2.at[i, "Posted_Date"] = p_date
new_df2 = new_df2.drop(columns={"Posted_from_num", "Posted_from_unit", "Posted_from"})

In [ ]:
#8. Update Feedback_Num that is null to 0
new_df2["Feedback_Num"].value_counts(dropna=False)

In [ ]:
#9. Remove "$" sign in Hourly_Rate, Job_Cost, Start_Rate, End_Rate
new_df2["Hourly_Rate"] = new_df2["Hourly_Rate"].str.replace('$','')
new_df2["Job_Cost"] = new_df2["Job_Cost"].str.replace('$','')
new_df2["Start_rate"] = new_df2["Start_rate"].str.replace('$','')
new_df2["End_rate"] = new_df2["End_rate"].str.replace('$','')

In [ ]:
#10. Convert Job_Cost, Start_Rate, End_Rate to Number data type
new_df2["Hourly_Rate"] = new_df2["Hourly_Rate"].str.replace(' ','')
new_df2["Job_Cost"] = new_df2["Job_Cost"].str.replace(' ','')
new_df2["Start_rate"] = new_df2["Start_rate"].str.replace(' ','')
new_df2["End_rate"] = new_df2["End_rate"].str.replace(' ','')

new_df2["Hourly_Rate"] = new_df2["Hourly_Rate"].str.replace(',','')
new_df2["Job_Cost"] = new_df2["Job_Cost"].str.replace(',','')
new_df2["Start_rate"] = new_df2["Start_rate"].str.replace(',','')
new_df2["End_rate"] = new_df2["End_rate"].str.replace(',','')
new_df2 = new_df2.astype({"Job_Cost": float, "Start_rate": float, "End_rate": float})

In [ ]:
#Update Start_Rate and End_Rate
for i in new_df2.index:
    if str(new_df2.loc[i, "Hourly_Rate"]).find('-') == -1:
        if new_df2.loc[i, "Hourly_Rate"] is not None:
            new_df2.loc[i, "Start_rate"] = new_df2.loc[i, "Hourly_Rate"]
            new_df2.loc[i, "End_rate"] = new_df2.loc[i, "Hourly_Rate"]        
new_df2 = new_df2.drop(columns={"Hourly_Rate"}, axis=1)

In [242]:
new_df2["Hrs_Per_Week"].value_counts(dropna=False)

NaN                       40840
Less than 30 hrs/week     16902
30+ hrs/week               4360
Hours to be determined      919
not_sure                    795
Name: Hrs_Per_Week, dtype: int64

In [264]:
#Get Skills list
skills_seri = new_df2["Category_1"].unique()
ss = pd.Series(skills_seri)
ss = ss.append(pd.Series(new_df2["Category_2"].unique()), ignore_index=True)
ss = ss.append(pd.Series(new_df2["Category_3"].unique()), ignore_index=True)
ss = ss.append(pd.Series(new_df2["Category_4"].unique()), ignore_index=True)
ss = ss.append(pd.Series(new_df2["Category_5"].unique()), ignore_index=True)
ss = ss.append(pd.Series(new_df2["Category_6"].unique()), ignore_index=True)
ss = ss.append(pd.Series(new_df2["Category_7"].unique()), ignore_index=True)
ss = ss.append(pd.Series(new_df2["Category_8"].unique()), ignore_index=True)
ss = ss.append(pd.Series(new_df2["Category_9"].unique()), ignore_index=True)

#Export Skills list to excel file
ss.to_excel("Skill_List.xlsx", sheet_name="Skills")

0                        Data Analysis
1                   Google Data Studio
2                       Report Writing
3               Machine Learning Model
4       Generative Adversarial Network
                     ...
2235          Administrative Assistant
2236              Draft Correspondence
2237              Advertising Strategy
2238                 Leadership Skills
2239                         DeepCrawl
Length: 2240, dtype: object

In [307]:
new_df2.to_excel("Upwork_Data.xlsx", sheet_name="JobPosts")

[]